<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Notes App</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1>Notes App</h1>
        <form @submit.prevent="addNote" class="note-input">
            <input v-model="title" type="text" id="title" placeholder="Title" required>
            <textarea v-model="content" id="content" placeholder="Content" required></textarea>
            <button id="add-note">Add Note</button>
        </form>
        <ul id="notesnote">
            <li v-for="note in notes" :key="note.id">
                <h2>{{ note.title }}</h2> 
                <p>{{ note.content }}</p>
                <button @click="removeNote(note)">X</button>
            </li>
        </ul>
    </div>

    <script src="./main.js"></script>
</body>

</html>